@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('../fonts/ClashDisplay-Variable.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Variable.woff') format('woff'),
         url('../fonts/ClashDisplay-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Extralight';
    src: url('../fonts/ClashDisplay-Extralight.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Extralight.woff') format('woff'),
         url('../fonts/ClashDisplay-Extralight.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Light';
    src: url('../fonts/ClashDisplay-Light.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Light.woff') format('woff'),
         url('../fonts/ClashDisplay-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Regular';
    src: url('../fonts/ClashDisplay-Regular.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Regular.woff') format('woff'),
         url('../fonts/ClashDisplay-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('../fonts/ClashDisplay-Medium.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Medium.woff') format('woff'),
         url('../fonts/ClashDisplay-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Semibold.woff') format('woff'),
         url('../fonts/ClashDisplay-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('../fonts/ClashDisplay-Bold.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Bold.woff') format('woff'),
         url('../fonts/ClashDisplay-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  body{
    @apply font-clashR;
  }
  section{
    @apply px-6
  }

  .swiper {
    width: auto;
    height: auto;
  }
  .swiper-slide{
    width: auto !important;
  }

  /* .tab-links{
    @apply border-zinc-200
  } */
  .tab-links.active{
    @apply border-amber-500
  }
  .tab-links.active .tab-title{
    @apply text-amber-500
  }
  .tab-links.active .tab-count{
    @apply bg-amber-500 text-white
  }

  .hero{
    background: url(../images/img-hero-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
  }

  .img-sector{
    max-width: 243px;
  }

  .projects ul::-webkit-scrollbar{
    /* display: none; */
  }

  .man-prof{
    @apply w-16 h-16 opacity-50
  }
  .man-prof.active{
    @apply w-20 h-20 opacity-100 border-amber-500 border-[2.5px]
  }
  
  @media screen and (min-width:768px) {
    .hero{
      background: url(../images/img-hero.png);
      background-repeat: no-repeat;
      background-position: center;
      /* background-size: contain; */
    }

    .img-sector{
      max-width: 100%;
    }
  }
}

.swiper-pagination-bullet{
  background: #000 !important;
}